/* panel layout mechanics */
.panel-wrap {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 26em;
    transform: translateX(100%);
    transition: .3s ease-out;
  }
  .panel {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 1px solid grey;

    background-color: white;
    overflow: auto;
    padding: 1em;
  }
  
  .show-panel {
    transform: translateX(0%);
  }

.flex {
    display: flex;
}
.flex-c {
    flex-direction: column;
}
.flex-j {
    justify-content: space-between;
}
.item {
    height: 6rem;
}
.center-y {
    align-items: center;
}
.center {
    align-items: center;
    justify-content: center;
}
.onhover-color:hover {
    background-color: lightpink;
}